.all-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.story-source {
  float: left;
  margin-right: 20px;
  width: 15%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.story-date {
  width: 15%;
  float: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.story-title {
  display: inline-block;
  width: 65%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.story {
  padding: 5px 0;
  display: block;
}

.story:hover {
  background: lightgrey;
  cursor: pointer;
}
