.detailed-article-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
  z-index: 1;
}

.detailed-article-deadspace {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom:0;
  width: 25%;
}

.tab-container {
  position: absolute;
  right: 0;
  width: 40px;
  height: 60px;
  overflow: hidden;
  transform: rotateZ(180deg);
}

.tab {

  box-sizing: border-box;
  width: 60px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 60px solid white;
}

.x {
  position: absolute;
  color: grey;
  height: 20px;
  width: 20px;
  z-index: 1;
  top: 22px;
  right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.x:hover {
  cursor: pointer;
  color: black;
}

.detailed-article {
  position: fixed;
  right: 0;
  top: 70px;
  bottom: 0px;
  width: 75%;
  background: white;
  overflow-y: auto;
  padding: 20px 100px 50px 100px;
  box-sizing: border-box;
  margin-top: 40px;
  transition: all .5s ease;
}


.detailed-article img {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}

.detailed-article p {
  width: 100%;
  margin: 20px 0;
}

.detailed-article-headline {
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 0;
  height: 140px;
  width: 75%;
  background: white;
  padding: 20px 100px;
  color: black;
}

.detailed-article-headline:hover {
  cursor: pointer;
  background: grey;
}

.detailed-article-headline h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: black;
}


.detailed-article-headline h2 {
  float: left;
}

.detailed-article-headline h3 {
  float: right;
  margin-right: 400px;
}
