
.pinned + div section, .unpinned:hover + div section {
  position: absolute;
  left: 350px;
  top: 100px;
  bottom: 0;
  width: 60%;
  margin: auto;
  margin-left: 20px;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.unpinned + div section{
  position: absolute;
  top: 100px;
  left: 150px;
  bottom: 0;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-left: 20px;
  transition: all 0.5s ease;
}

.search h4 {
    font-size: 24px;
    margin: 20px 0;
    color: lightgrey;
    padding-left: 30px;
}

.search-bar {
  position: relative;
  width: 80%;
  height: 60px;
  border: none;
  border: 1px solid lightgrey;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 20px;

}

.search ul {
  width: 100%;
  margin-left: 20px;
}

.search-feed {
  margin: 30px 40px 50px 80px;
  max-width: 60%;
  position: relative;
}

.search-feed h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
}


.favicon-large {
  width: 50px;
  position: absolute;
  margin-left: -60px;

}

.search-feed button {
  position: absolute;
  top: 10px;
  right: -130px;
  width: 120px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

.search-feed button:hover {
  cursor: pointer;
  color: orange;
  border: 1px solid orange;
}

.search-feed button.subscribed-to-feed {
  border: 1px solid lightgreen;
  color: lightgreen;
}

.search-feed button.subscribed-to-feed:after {
  content: "d";
}

.suggested-search {
  color: lightgrey;
  margin: 30px 0;
  font-size: 36px;
  padding-left: 30px;
}

.search-term {
  float: left;
  color: lightgrey;
  margin: 30px 0;
  font-size: 24px;
  padding: 20px 100px 20px 0;
}

.search-term:hover {
  cursor: pointer;
}

.search {
  padding: 0 50px;
  width: 80%;
}
