.session-form {
  margin: auto;
  width: 280px;
}

.session-form input {
  width: 100%;
  padding: 10px 20px;
  background: #FAFAFA;
  font-size: 16px;
  border: 1px solid #D6D6D6;
}

.session-form input:active {
  border: 1px solid black;
  z-index: 1;
}

.password {
  margin-top: -1px;
}
