.session-form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.session-form {
  position: absolute;
  font: 16px BlinkMacSystemFont;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background: white;
  top: 100px;
  padding: 0 20px 20px 20px;
  border-radius: 15px;
}

.session-form h1 {
  display: block;
  width: 250px;
  text-align: center;
  margin: 30px 0 30px 25px;
  font-weight: 600;
  font-size: 20px;
}

.session-form input {
  width: 250px;
  padding: 10px 20px;
  background: #FAFAFA;
  font-size: 16px;
  border: 1px solid #D6D6D6;
}



.session-form input:focus {
  border: 1px solid black;
  outline: none;
  position: relative;
  z-index: 1;
}

.password {
  margin-top: -1px;
  border-radius: 0 0 3px 3px;
}

.username {
  border-radius: 3px 3px 0 0;
}

.submit-button, .guest-login {
  display: block;
  padding: 15px 20px;
  margin: 20px auto;
  width: 100%;
  text-align: center;
  color: white;
  cursor: inherit;
  background: black;
  background: black;
  border-radius: 5px;
}

.submit-wrapper {
  width: 292px;
}

.submit-button:hover, .guest-login:hover {
  cursor: pointer;
  background: #2A2B2F;
}

.db-errors {
  color: red;
  font-size: 14px;
}
