.pinned, .unpinned:hover {
  float: left;
  width: 230px;
  color: white;
  background: #2A2B2F;
  height: 100vh;
  color: rgba( 255, 255, 255, 0.9 );
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  font-size: 14px;
}

.unpinned {
  float: left;
  width: 75px;
  height: 100vh;
  overflow: hidden;
  background: #2A2B2F;
  color: #2A2B2F;
  transition: width 0.5s ease;
}

.unpinned button {
  color: #2A2B2F;
}

.pinned .sidebar-footer, .unpinned:hover .sidebar-footer {
  line-height: 30px;
  position: fixed;
  bottom: 0px;
  height: 30px;
  left: 0px;
  width: 250px;
  overflow: hidden;
  padding: 10px;
  border-top: 1px solid rgba( 255, 255, 255, 0.1 );
}

.pinned button, .unpinned:hover button {
  color: white;
  float: right;
  font-size: 12px;
}

.pinned button:hover, .unpinned:hover button:hover {
  text-decoration: underline;
  z-index: 1;
  cursor: pointer;
}

.pinned > .username, .unpinned:hover > .username {
  float: left;
  position: relative;
}

.pinned h1, .unpinned:hover h1 {
  margin: 20px 0;
}

.pinned .saved-link, .unpinned:hover .saved-link {
  font-size: 14px;
  font-weight: bold;
}

.pinned .add-feed, .unpinned:hover .add-feed {
  box-sizing: border-box;
  margin: 30px 0;
  padding: 5px 20px;
  width: 100%;
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  text-align: center;
  border-radius: 5px;
  font-size: 24px;
  color: rgba( 255, 255, 255, 0.3 );
}

.pinned .add-feed:hover, .unpinned:hover .add-feed:hover {
  border: 1px solid rgba(255,255,255,0.58);
  cursor: pointer;
  color: rgba(255,255,255,0.58);
  text-decoration: none;
}

.pinned .pinner:hover, .unpinned:hover .pinner:hover  {
  border: 1px solid rgba(255,255,255,0.58);
  cursor: pointer;
  color: rgba(255,255,255,0.58);
  text-decoration: none;
}

.pinned .pinner, .unpinned:hover .pinner {
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  padding: 5px 10px;
  border-radius: 10%;
  color: rgba( 255, 255, 255, 0.3 );
}


.pinned .personal-feeds, .unpinned:hover .personal-feeds {
  color: rgba( 255, 255, 255, 0.3 );
  font-size: 12px;
}
