.splash {
  padding: 5% 10%;
  background: url("https://lh3.googleusercontent.com/-Bez7eMyRRbQ/VNa7qzmdY0I/AAAAAAAACuU/UOlcsISsRBs/s1600/the-way-to-the-dream-picture-by-arseniy-korablev-arsdraw.jpg");
  height: 700px;
  background-position: center;
  background-size: cover;
}

.splash-welcome {
  color: white;
  text-shadow: 1px 1px 5px #212421, 2px 2px 5px #212021;
  margin-top: 10px;
  padding: 0 auto;
  display: block;
  font-size: 36px;
  font-weight: bold;
}

.splash-blurb {
  color: white;
  margin: 20px;
  text-shadow: 1px 1px 5px #212421,
             2px 2px 5px #212021;
}

.splash-login {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px #212421, 2px 2px #212021;
  width: 200px;
  padding: 20px 10px;
  background: #249540;
  border-radius: 5px;
  margin: 20px 0;

}

.splash-login:hover {
  cursor: pointer;
}

.splash-img {
  width: 100%;
  display: block;

}
