.text-all, .feeds-container, .feeds {
  margin-left: 25px;
}

.feeds-container {
  position: relative;
  font-size: 13px;
  font-weight: bold;
}

.feeds-container h3 {
  margin: 10px 0 5px 0;
}

.text-all {
  margin: 10px 0 10px 25px;
  font-size: 14px;
  position: relative;
  font-weight: bold;
}
.feeds {
  display: none;
}

.open .feeds {
  display: block;
}

.pinned .chevron, .unpinned:hover .chevron {
  position: absolute;
  left: -20px;
  color: rgba(255,255,255,0.58);
}


.open .chevron:before {
  top: 0;
  transform: rotate(135deg);
}

.collection-title {
  font-weight: 600;
}

.chevron:hover {
  color: white;
  cursor: pointer;
}

.favicon {
  display: none;
}

.pinned .favicon, .unpinned:hover .favicon {
  float: left;
  margin: 0 10px 0 -20px;
  display: inherit;
}


.feed {
  margin: 10px 0 10px 0;
  font-weight: 300;
}
