
.top-line {
  border-bottom: 1px solid lightgrey;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  margin-bottom: 20px;
  background: white;
  z-index: 0;
}

.logo {
  float: right;
  margin: 10px 60px;
  width: 30px;
}

.pinned, .unpinned:hover {
  position: fixed;
  width: 230px;
  color: white;
  background: #2A2B2F;
  bottom: 0;
  top: 0;
  color: rgba( 255, 255, 255, 0.9 );
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  padding: 20px;
  font-size: 14px;
  margin-right: 80px;
  z-index: 1;
  }

.unpinned {
  position: fixed;
  bottom: 0;
  top: 0;
  width: 75px;
  height: 100vh;
  overflow: hidden;
  background: #2A2B2F;
  color: #2A2B2F;
  transition: width 0.5s ease;
  margin-right: 80px;
  z-index: 1;
}

.unpinned button {
  color: #2A2B2F;
}

.pinned .menu-icon, .unpinned:hover .menu-icon {
  display: none;
}

.unpinned .menu-icon {
  width: 30px;
  margin-top: 80px;
}

.pinned .sidebar-main, .unpinned:hover .sidebar-main {
  width: 230px;
  overflow-y: auto;
  position: absolute;
  padding-top: 30px;
  bottom: 50px;
  padding-right: 20px;
  top: 0;
}


.pinned .sidebar-footer, .unpinned:hover .sidebar-footer {
  line-height: 30px;
  position: fixed;
  bottom: 0px;
  height: 30px;
  left: 0px;
  width: 250px;
  overflow: hidden;
  padding: 10px;
  border-top: 1px solid rgba( 255, 255, 255, 0.1 );
}

.pinned button, .unpinned:hover button {
  color: white;
  float: right;
  font-size: 12px;
}

.pinned button:hover, .unpinned:hover button:hover {
  text-decoration: underline;
  z-index: 1;
  cursor: pointer;
}

.pinned > .username, .unpinned:hover > .username {
  float: left;
  position: relative;
}

.pinned h1, .unpinned:hover h1 {
  margin: 20px 0;
}

.pinned .saved-link, .unpinned:hover .saved-link {
  font-size: 14px;
  font-weight: bold;
}

.pinned .add-feed, .unpinned:hover .add-feed {
  box-sizing: border-box;
  margin: 30px 0;
  padding: 5px 20px;
  width: 100%;
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  text-align: center;
  border-radius: 5px;
  font-size: 24px;
  color: rgba( 255, 255, 255, 0.3 );
}

.pinned .add-feed:hover, .unpinned:hover .add-feed:hover {
  border: 1px solid rgba(255,255,255,0.58);
  cursor: pointer;
  color: rgba(255,255,255,0.58);
  text-decoration: none;
}

.pinned .pinner:hover, .unpinned:hover .pinner:hover  {
  border: 1px solid rgba(255,255,255,0.58);
  cursor: pointer;
  color: rgba(255,255,255,0.58);
  text-decoration: none;
}

.pinned .pinner, .unpinned:hover .pinner {
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  padding: 5px 10px;
  border-radius: 10%;
  color: rgba( 255, 255, 255, 0.3 );
  font-size: 10px;
  margin-top: -20px;
}


.pinned .personal-feeds, .unpinned:hover .personal-feeds {
  color: rgba( 255, 255, 255, 0.3 );
  font-size: 12px;
}

.pinned .collection-title, .unpinned:hover .collection-title {
  padding: 5px 0;
}

.pinned .collection-title:hover, .unpinned:hover .collection-title:hover {
  cursor: pointer;
  background: rgba( 255, 255, 255, 0.3 );
}

.today-link {
  font-weight: bold;
  padding: 5px 0;
}

.today-link:before {
  content: "\1F733";
  font-size: 20px;
  margin-right: 5px;
}

.today-link:hover {
  cursor: pointer;
  background: rgba( 255, 255, 255, 0.3 );
}
